appdirs
Django
django-contact
django-contact-form
django-cors-headers
django-crispy-forms
django-extensions
django-filter
django-filters
django-model-utils
djangorestframework
djangorestframework-filters
drf-extensions
Markdown
mod-wsgi
packaging
psycopg2
pyparsing
python-dateutil
python-memcached
pytz

