appdirs
Django==2.2.27
django-contact
django-contact-form
django-cors-headers
django-crispy-forms
django-extensions
django-filter==2.2.0
django-model-utils
djangorestframework
drf-extensions
drf-yasg
Markdown
mod-wsgi
packaging
psycopg2
pyparsing
python-dateutil
python-memcached
pytz
django-cache-machine
django-utils-six
pandas
arrow

