{% extends "base.html" %}

{% block head %}
<script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
{% endblock %}


{% block body %}
<div class="row">
    <div class="col-12">
        <h1>AS{{ asn.number }} {{ asn.name }}</h1> 
    </div>
</div>
<div class="row">
    <div class="col-lg-8"></div>
    <div class="col-lg-4">
        <div class="col-md-4">
            <form class="form-inline">
            <div class="form-group">
                <select name="show-last" id="show-last" class="form-control">
                    <option value="7"> Show last 1 week </option>
                    <option value="30" selected="selected"> Show last 1 month </option>
                    <option value="90"> Show last 3 months </option>
                    <option value="180"> Show last 6 months </option>
                </select>
            </div>
            </form>
        </div>
    </div>
</div>
{% if asn.tartiflette %}
<div class="row">
    <div class="col-12">
        <h2>Delay and Forwarding Anomalies</h2>
        <hr>
    </div>
</div>
<div class="row">
    <div class="col-12">
        <div id="plotTartiflette" ></div>
    </div>
</div>
<div class="row">
    <div class="col-lg-12 col-m-12"><div id="tartiflette_details_title"></div> </div>
</div>
<div class="row">
    <!--<div class="col-lg-6 col-m-6">  <pre class="prettyprint"> <div id="tartiflette_details_data" > <i>Click on the graphs for more details.</i> </div> </pre>  </div>-->
    <div class="col-lg-1 col-m-0"></div>
    <div class="col-lg-10 col-m-12">  <div id="tartiflette_details_data" > <i>Click on the graphs for more details.</i> </div> </div>
    <div class="col-lg-1 col-m-1"></div>
</div>
<div class="row">
    <div class="col-lg-1 col-m-0"></div>
    <div class="col-lg-10 col-m-12"> <div id="tartiflette_details_footer"></div> </div>
    <div class="col-lg-1 col-m-0"></div>
</div> 
<div class="row">
    <div class="col-lg-12 col-m-12"><div id="tartiflette_mon_title"></div> </div>
</div>
<div class="row">
    <div class="col-lg-12 col-m-12"><div id="tartiflette_mon"></div> </div>
</div>
<div class="row">
    <br>
</div>
{% endif %}

{% if asn.disco  %}
<div class="row">
    <div class="col-12">
        <h2>Network Disconnections</h2>
        <hr>
    </div>
</div>
<div class="row">
    <div class="col-12">
        <div id="plotDisco" ></div>
    </div>
</div>

<div class="row">
    <div class="col-lg-12 col-m-12"><div id="disco_details_title"></div> </div>
</div>
<div class="row">
    <div class="col-lg-1 col-m-0"></div>
    <div class="col-lg-10 col-m-12"> <div id="disco_details_data" > <i>Click on the graph for more details.</i> </div>  </div>
    <div class="col-lg-1 col-m-0"></div>
</div>
<div class="row">
    <div class="col-lg-1 col-m-0"></div>
    <div class="col-lg-10 col-m-12"> <div id="disco_details_footer"></div> </div>
    <div class="col-lg-1 col-m-0"></div>
</div>
<div class="row">
    <div class="col-lg-12 col-m-12"><div id="disco_mon_title"></div> </div>
</div>
<div class="row">
    <div class="col-lg-12 col-m-12"><div id="disco_mon"></div> </div>
</div>
{% endif %}

<script src="https://atlas.ripe.net/resource/latencymon/latencymon-widget-main.js"></script>
<script src="https://atlas.ripe.net/resource/tracemon/tracemon-widget-main.js"></script>
<script>
function makeplot_tartiflette(dt, last) {
    var layout = {
        yaxis: {
            title: 'Delay Change Level',
            domain: [0.55, 1],
            autorange: true,
        },
        yaxis2:{
            title: 'Forwarding Anomaly Level',
            domain: [0, 0.45],
            autorange: true,
        },
        margin: {
            t: 50,
            b: 50,
        },
    };

    Plotly.newPlot("plotTartiflette", [], layout);
    Plotly.d3.json("{% url "ihr:delayData" %}?asn={{ asn.number }}&date="+dt+"&last="+last, function(data){ addPlotly(data, "plotTartiflette", "Delay Changes", 1, -5, 50, last); } );
    Plotly.d3.json("{% url "ihr:forwardingData" %}?asn={{ asn.number }}&date="+dt+"&last="+last, function(data){ addPlotly(data, "plotTartiflette", "Forwarding anomalies", 2, -15, 15, last); } );

    var mainPlot = document.getElementById('plotTartiflette');
    mainPlot.on('plotly_click', tartiflettePlotClick); 


};

function makeplot_disco(dt, last) {
    var layout = {
        yaxis: {
            title: 'Disconnection Level',
            autorange: true,
        },
        margin: {
            t: 50,
            b: 50,
        },
        height: 250,
    };

    Plotly.newPlot("plotDisco", [], layout);
    Plotly.d3.json("{% url "ihr:discoData" %}?asn={{ asn.number }}&date="+dt+"&last="+last, function(data){ addPlotly(data, "plotDisco", "Disconnections", 1, 0, 20, last); } );

    var mainPlot = document.getElementById('plotDisco');
    mainPlot.on('plotly_click', discoPlotClick); 


};


function addPlotly( data, divId, label, ynum , rangeLow, rangeHigh, last){
    var plotDiv = document.getElementById(divId);
    var stream = "AS{{ asn.number }}";
    var traces = [{
        x: data[stream]["x"],
        y: data[stream]["y"],
        name: label,
        yaxis: "y"+ynum,
        z: data[stream]["eventid"],
    }];

    Plotly.addTraces(divId, traces);

    // Update query string
    lastDate = data[stream]["x"][data[stream]["x"].length - 1]
    $.QueryString.date = lastDate.slice(0,10);
    $.QueryString.last = last;
    history.replaceState({}, '', "?" + $.param($.QueryString)); 

    <!--Correct yaxis range-->
    var min = Math.min.apply(null, data[stream]["y"]),
        max = Math.max.apply(null, data[stream]["y"]);

    if(ynum == 1){
        yaxis = plotDiv.layout.yaxis;
    }
    else{
        yaxis = plotDiv.layout["yaxis"+ynum];
    }

    var axisChanged = false
    if(yaxis.range[0] > rangeLow){
        yaxis.range[0] = rangeLow;
        axisChanged = true
    }

    axisChanged = false
    if(yaxis.range[1] < rangeHigh){
        yaxis.range[1] = rangeHigh;
        axisChanged = true
    }
    if(axisChanged){
        yaxis.autorange= false
        Plotly.redraw(plotDiv);
    }

};
if( '{{ asn.tartiflette }}' == 'True'){
makeplot_tartiflette('{{ date }}', '{{ last }}');
}

if( '{{ asn.disco }}' == 'True'){
makeplot_disco('{{ date }}', '{{ last }}');
}

// Get params from the query string
(function($) {
    $.QueryString = (function(paramsArray) {
        let params = {};

        for (let i = 0; i < paramsArray.length; ++i)
        {
            let param = paramsArray[i]
                .split('=', 2);

            if (param.length !== 2)
                continue;

            params[param[0]] = decodeURIComponent(param[1].replace(/\+/g, " "));
        }

        return params;
    })(window.location.search.substr(1).split('&'))
})(jQuery);
// Display given events
if($.QueryString["discodate"] && $.QueryString["discoid"]){
    discoPlotClick({points:[
            {
            x:$.QueryString["discodate"],
            pointNumber:0,
            data:{
                z:[$.QueryString["discoid"]],
                }
            }
    ]});
}
if($.QueryString["tartiflettedate"] && $.QueryString["tartiflettey"]){
    discoPlotClick({points:[
            {
            x: $.QueryString["tartiflettedate"],
            yaxis:{_id:$.QueryString["tartiflettey"]},
            }
    ]});
}

function getKeyByValue(object, value) {
      return Object.keys(object).find(key => object[key] === value);
}

function tartiflettePlotClick(data){
        // Initialisation
        $("#tartiflette_details_data").html('<span class="glyphicon glyphicon-refresh glyphicon-refresh-animate"></span> Loading...')
        $("#tartiflette_details_title").html("");
        $("#tartiflette_details_footer").html("");
        $("#tartiflette_mon_title").html("");
        $("#tartiflette_mon").html("");
        var msmCount = {};
        var msmProbes = {};

        pt = data.points[0]
        date = JSON.stringify(pt.x).replace('"','').replace('"','');
        date = date.replace(" ", "+")
        date = date.replace(":", "%3A")

        // Update query string
        $.QueryString.tartiflettedate = pt.x;
        $.QueryString.tartiflettey = pt.yaxis._id;
        history.replaceState({}, '', "?" + $.param($.QueryString)); 

        if(data.points[0].yaxis._id == 'y'){
            title = "<h3>Delay anomalies on "+pt.x+"</h3>";
            montitle = "";
            url =  "{% url "ihr:delayAlarmsListView" %}?asn={{ asn.number }}&format=json&timebin="+date+"&ordering=-deviation"; 
            montitle = "";
        $.getJSON(url, function(data){
            var body = '<table class="table"> <thead> <tr> <th> Link </th> <th> Deviation </th> <th> Delay change  </th> <th> #Probes </th> </tr></thead>'; //JSON.stringify(data.results, null, 2);
            body += '<tbody>';
            var prevLink = '';

            for( i=0; i<data.results.length; i++){
                var alarm = data.results[i];
                if(prevLink == alarm.link){
                    continue;         // both IPs are from this AS, display only once
                }
                if(alarm.deviation>100){
                    body += '<tr class="danger">';
                }
                else if(alarm.deviation > 10){
                    body += '<tr class="warning">';
                }
                else{
                    body += '<tr>';
                }
                var ips = alarm.link.split(",")
                <!--#TODO add widget for 2nd IP-->
                var revdns = '<a href="#" data-toggle="popover" data-placement="top" data-content="<div class="statwdgtauto"><script>ripestat.init("reverse-dns-ip",{"resource":"ip1""},null,{"size":"small","disable":["controls","footer-buttons","logo","maximize"]})</script></div> > linkStr </a> '
                body += '<td>'+revdns.replace("ip1",ips[0].substring(1)).replace("ip2",ips[1].substring(0,len(ips[1])-1).replace("linkStr",alarm.link)+'</td>';
                body += '<td>'+alarm.deviation.toFixed(2)+'</td>';
                body += '<td>'+alarm.diffmedian.toFixed(2)+' ms</td>';
                body += '<td>'+alarm.nbprobes+'</td>';
                body += '</tr>';

                // Count prominent msm and probe IDs
                for( j=0; j<alarm.msmid.length; j++){
                    var ids = alarm.msmid[j].split(" ");
                    ids[0] = parseInt(ids[0]);
                    ids[1] = parseInt(ids[1]);
                    if( alarm.deviation > 10){
                        if( ids[0] in msmCount ){
                            msmCount[ids[0]] += alarm.deviation;
                            msmProbes[ids[0]].push(ids[1]);
                        }
                        else{
                            msmCount[ids[0]] = alarm.deviation;
                            msmProbes[ids[0]] = [ids[1]];
                        }
                    }
                }
                prevLink = alarm.link;
            }

            // LatencyMON
            if( msmCount.length!=0 ){
                var lm_grp = [];
                var lm_msmid = [];
                montitle = "<h3>RTT of traceroutes crossing reported links</h3><br>";
                var timebin = new Date(data.results[0].timebin);
                // Get the 5 most prominent msm 
                var arr = Object.values(msmCount);
                for( i=0; i<Math.min(5,arr.length); i++){
                    var varr = Object.values(msmCount);
                    var max = Math.max(...varr);
                    var key = getKeyByValue(msmCount, max);
                    lm_msmid.push(key);
                    delete msmCount[key]; 
                }
                // Make latencymon groups
                for(i=0; i<lm_msmid.length; i++){
                    lm_grp.push({ 
                        id: lm_msmid[i].toString(),
                        measurementId: lm_msmid[i],
                        probes: msmProbes[lm_msmid[i]],
                        type: 'multi-probes',
                    });
                }
                initLatencymon(
                    '#tartiflette_mon',
                    {
                        autoStartGrouping: false,
                        <!--showMinimumByDefault: false,-->
                    }, // Tool options, see table below for more info
                    { 
                    // mergedMeasurements: [lm_msmid],
                        measurements: lm_msmid,
                        startTimestamp:  timebin.getTime()/1000-(5*3600),
                        stopTimestamp: timebin.getTime()/1000+(5*3600),
                        groups: lm_grp,
                    } // Query options, see table below for more info
                );
            }

            body += '</tbody>';
            body += '</table>';
            if (data.count == 0){
                txt = "No alarm reported."
                footer = "";
                body = "";
            }
            else{
                txt = '';
                footer = "See the "+data.count+" reported alarms here: <a href='"+url.replace("format=json", "format=api")+"'>ihr.iijlab.net/"+url.replace("format=json", "format=api")+"</a>";
            }
            $("#tartiflette_details_title").html(title);
            $("#tartiflette_details_data").html(txt+body);
            $("#tartiflette_details_footer").html(footer);
            $("#tartiflette_mon_title").html(montitle);
        });
        }
        else{
            title = "<h3>Forwarding anomalies on "+pt.x+"</h3><br>";
            montitle = "";
            url =  "{% url "ihr:forwardingAlarmsListView" %}?asn={{ asn.number }}&format=json&timebin="+date+"&ordering=correlation"; 
            $.getJSON(url, function(data){
                var body = '<table class="table"> <thead> <tr> <th> IP </th> <th>Usual preceding IP</th> <th> Correlation </th> <th> Responsibility </th> </tr></thead>'; //JSON.stringify(data.results, null, 2);
                body += '<tbody>';
                var prevLink = '';
            for( i=0; i<data.results.length; i++){
                var alarm = data.results[i];
                if(alarm.correlation<=-0.5){
                    body += '<tr class="danger">';
                }
                else if(alarm.correlation <= -0.33){
                    body += '<tr class="warning">';
                }
                else{
                    body += '<tr>';
                }
                body += '<td>'+alarm.ip+'</td>';
                body += '<td>'+alarm.previoushop+'</td>';
                body += '<td>'+alarm.correlation.toFixed(2)+'</td>';
                body += '<td>'+alarm.responsibility.toFixed(2)+'</td>';
                body += '</tr>';

                // Count prominent msm and probe IDs
                for( j=0; j<alarm.msmid.length; j++){
                    var ids = alarm.msmid[j].split(" ");
                    ids[0] = parseInt(ids[0]);
                    ids[1] = parseInt(ids[1]);
                    if( alarm.correlation <= -0.33){
                        if( ids[0] in msmCount ){
                            msmCount[ids[0]] += alarm.correlation;
                            msmProbes[ids[0]].push(ids[1]);
                        }
                        else{
                            msmCount[ids[0]] = alarm.correlation;
                            msmProbes[ids[0]] = [ids[1]];
                        }
                    }
                }
            }
            body += '</tbody>';
            body += '</table>';
            if (data.count == 0){
                txt = "No alarm reported."
                footer = "";
                body = "";
            }
            else{
                txt = '';
                footer = "See the "+data.count+" reported alarms here: <a href='"+url.replace("format=json", "format=api")+"'>ihr.iijlab.net/"+url.replace("format=json", "format=api")+"</a>";
            }

            // Tracemon
            if( msmCount.length!=0 ){
                montitle = "<h3>Visualisation of traceroutes crossing reported IPs</h3><br>";
                var msmid = [];
                var probeid = [];
                var timebin = new Date(data.results[0].timebin);
                // Get the most prominent msm 
                var arr = Object.values(msmCount);
                for( i=0; i<Math.min(1,arr.length); i++){
                    var varr = Object.values(msmCount);
                    var min = Math.min(...varr);
                    var key = getKeyByValue(msmCount, min);
                    msmid.push(key);
                    probeid = probeid.concat(msmProbes[key]);
                    delete msmCount[key]; 
                }
                initTracemon(
                    '#tartiflette_mon',
                    {
                    }, // Tool options, see table below for more info
                    { 
                    // mergedMeasurements: [lm_msmid],
                        measurements: msmid,
                        sources: probeid,
                        startTimestamp:  timebin.getTime()/1000-3600,
                        stopTimestamp: timebin.getTime()/1000+3600,
                    } // Query options, see table below for more info
                );
            
            }
            $("#tartiflette_details_title").html(title);
            $("#tartiflette_details_data").html(txt+body);
            $("#tartiflette_details_footer").html(footer);
            $("#tartiflette_mon_title").html(montitle);
            });
        }

};

function discoPlotClick(data){
        $("#disco_details_data").html('<span class="glyphicon glyphicon-refresh glyphicon-refresh-animate"></span> Loading...')
        $("#disco_details_title").html("");
        $("#disco_details_footer").html("");
        $("#disco_mon_title").html("");
        $("#disco_mon").html("");

        pt = data.points[0]
        date = JSON.stringify(pt.x).replace('"','').replace('"','');
        date = date.replace(" ", "+")
        date = date.replace(":", "%3A")

        // Update query string
        $.QueryString.discodate = pt.x;
        $.QueryString.discoid = pt.data.z[pt.pointNumber];
        history.replaceState({}, '', "?" + $.param($.QueryString)); 

        title = "<h3>Disconnected probes on "+pt.x+"</h3><br>";
        montitle = "";
        url =  '{% url "ihr:discoProbesListView" %}?event='+pt.data.z[pt.pointNumber]+'&format=json&ordering=-level'; 
        $.getJSON(url, function(data){
                var body = '<table class="table"> <thead> <tr> <th> Disconnection time </th> <th> Reconnection time </th> <th> Probe ID </th> <th> IP prefix </th>  <th> Disco. level </th> </tr></thead>'; //JSON.stringify(data.results, null, 2);
            body += '<tbody>';
            var prevLink = '';
        for( i=0; i<data.results.length; i++){
            var alarm = data.results[i];
            if(alarm.level>=15){
                body += '<tr class="danger">';
            }
            else if(alarm.level >= 12){
                body += '<tr class="warning">';
            }
            else{
                body += '<tr>';
            }
            body += '<td>'+alarm.starttime+'</td>';
            body += '<td>'+alarm.endtime+'</td>';
            body += '<td>'+alarm.probe_id+'</td>';
            body += '<td>'+alarm.prefixv4+'</td>';
            body += '<td>'+alarm.level+'</td>';
            body += '</tr>';

        }
        body += '</tbody>';
        body += '</table>';
        if (data.count == 0){
            txt = "No alarm reported."
        }
        else{
            txt = '';
            footer = "See the "+data.count+" reported alarms here: <a href='"+url.replace("format=json", "format=api")+"'>ihr.iijlab.net/"+url.replace("format=json", "format=api")+"</a>";
        }

        // Tracemon
        if( data.results.length!=0 ){
            var probeid = [];
            var startts = new Date(pt.x+' GMT'), endts = new Date('1970-01-01');
            //var startts = new Date('2999-01-01'), endts = new Date('1970-01-01');
            var ihrstart = new Date('2017-01-01');
            montitle = "<h3>Visualisation of traceroutes from disconnected probes</h3><br>";
            for(i=0; i<data.results.length; i++){
                probeid.push(data.results[i].probe_id);
                start = new Date(data.results[i].starttime);
                end = new Date(data.results[i].endtime);
                if( startts>start && start>ihrstart){
                    startts = start;
                }
                if( endts<end){
                    endts = end;
                }
            }
            initTracemon(
                '#disco_mon',
                {
                }, // Tool options, see table below for more info
                {
                measurements:[5030], // 5027],
                sources: probeid,
                startTimestamp:  (startts.getTime()/1000)-1800,
                stopTimestamp: (endts.getTime()/1000)+1800,
                } 
            );
        
        }
        $("#disco_details_title").html(title);
        $("#disco_details_data").html(txt+body);
        $("#disco_details_footer").html(footer);
        $("#disco_mon_title").html(montitle);
        });

};

<!--Selector for "show last"-->
$('select[name="show-last"] option[value="{{ last }}"]').prop('selected', true);
$(function(){
            $("#show-last").change(function(){
                makeplot_tartiflette('{{ date }}', this.value);
                makeplot_disco('{{ date }}', this.value);
                    });
            });

</script>

<script src="/static/rest_framework/js/prettify-min.js"></script>

{% endblock %}
