{% extends "base.html" %}


{% block body %}

<div class="row">
    <div class="col-12">
        <h1>{{ object_list|length }} Monitored Networks</h1> 
    </div>
    <div class="col-6">
        <ul>
        {% for asn in object_list %}
        {% if asn.number < 0 %}
            <li><a href="{% url "ihr:asnDetail" asn.number %}">IXP{{ asn.number }} {{ asn.name }}</a></li>
        {% else %}
            <li><a href="{% url "ihr:asnDetail" asn.number %}">AS{{ asn.number }} {{ asn.name }}</a></li>
        {% endif %}
        {% endfor %}
        </ul>
    </div>
</div>

{% endblock %}
