{% extends "base.html" %}

{% block head %}
<script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
{% endblock %}


{% block body %}
<div class="row">
    <div class="col-12">
        <h1>{{ country.name}}</h1> 
    </div>
</div>
<div class="row">
    <div class="col-lg-8"></div>
    <div class="col-lg-4">
        <div class="col-md-4">
            <form class="form-inline">
            <div class="form-group">
                <select name="show-last" id="show-last" class="form-control">
                    <option value="7"> Show last 1 week </option>
                    <option value="30" selected="selected"> Show last 1 month </option>
                    <option value="90"> Show last 3 months </option>
                    <option value="180"> Show last 6 months </option>
                </select>
            </div>
            </form>
        </div>
    </div>
</div>

{% if country.disco  %}
<div class="row">
    <div class="col-12">
        <h3>Network Disconnections</h3>
        <hr>
    </div>

    <div class="col-12">
        <div id="plotDisco" ></div>
    </div>
</div>


<div class="row">
    <div class="col-lg-12 col-m-12"><div id="disco_details_title"></div> </div>
</div>
<div class="row">
    <div class="col-lg-1 col-m-0"></div>
    <div class="col-lg-10 col-m-12"> <div id="disco_details_data" > <i>Click on the graph for more details.</i> </div>  </div>
    <div class="col-lg-1 col-m-0"></div>
</div>
<div class="row">
    <div class="col-lg-1 col-m-0"></div>
    <div class="col-lg-10 col-m-12"> <div id="disco_details_footer"></div> </div>
    <div class="col-lg-1 col-m-0"></div>
</div>
<div class="row">
    <div class="col-lg-12 col-m-12"><div id="disco_mon_title"></div> </div>
</div>
<div class="row">
    <div class="col-lg-12 col-m-12"><div id="disco_mon"></div> </div>
</div>

{% endif %}

<script src="https://atlas.ripe.net/resource/latencymon/latencymon-widget-main.js"></script>
<script src="https://atlas.ripe.net/resource/tracemon/tracemon-widget-main.js"></script>
<script>
function updateArg(search, arg, val){

    if(search.indexOf(arg) == -1){
        if(search.indexOf("?") == -1){
            search += "?"+arg+"="+val;
        }
        else{
            search += "&"+arg+"="+val;
        }
    }
    else{
        var re = new RegExp(arg+"=[^&$]*","i");
        search = search.replace(re, arg+'='+val);
    }

    return search;
}

function makeplot_disco(dt, last) {
    var layout = {
        yaxis: {
            title: 'Disconnection Level',
            autorange: true,
        },
        margin: {
            t: 50,
            b: 50,
        },
        height: 250,
    };

    Plotly.newPlot("plotDisco", [], layout);
    Plotly.d3.json("{% url "ihr:discoData" %}?cc={{ country.code }}&date="+dt+"&last="+last, function(data){ addPlotly(data, "plotDisco", "Disconnections", 1, 0, 20, last); } );

    var mainPlot = document.getElementById('plotDisco');
    mainPlot.on('plotly_click', discoPlotClick); 


};


function addPlotly( data, divId, label, ynum , rangeLow, rangeHigh, last){
    var plotDiv = document.getElementById(divId);
    var stream = "CC{{ country.code }}";
    var traces = [{
        x: data[stream]["x"],
        y: data[stream]["y"],
        name: label,
        yaxis: "y"+ynum,
        z: data[stream]["eventid"],
    }];
    console.log(traces);
    if(data[stream]["x"].length == 0){
        $(plotDiv).html("No data to display");
        return
    }

    Plotly.addTraces(divId, traces);
    // Update query string
    lastDate = data[stream]["x"][data[stream]["x"].length - 1]
    $.QueryString.date = lastDate.slice(0,10);
    $.QueryString.last = last;
    history.replaceState({}, '', "?" + $.param($.QueryString)); 

    <!--Correct yaxis range-->
    var min = Math.min.apply(null, data[stream]["y"]),
        max = Math.max.apply(null, data[stream]["y"]);

    if(ynum == 1){
        yaxis = plotDiv.layout.yaxis;
    }
    else{
        yaxis = plotDiv.layout["yaxis"+ynum];
    }

    var axisChanged = false
    if(yaxis.range[0] > rangeLow){
        yaxis.range[0] = rangeLow;
        axisChanged = true
    }

    axisChanged = false
    if(yaxis.range[1] < rangeHigh){
        yaxis.range[1] = rangeHigh;
        axisChanged = true
    }
    if(axisChanged){
        yaxis.autorange= false
        Plotly.redraw(plotDiv);
    }

};

if( '{{ country.disco }}' == 'True'){
    makeplot_disco('{{ date }}', '{{ last }}');
}

// Get params from the query string
(function($) {
    $.QueryString = (function(paramsArray) {
        let params = {};

        for (let i = 0; i < paramsArray.length; ++i)
        {
            let param = paramsArray[i]
                .split('=', 2);

            if (param.length !== 2)
                continue;

            params[param[0]] = decodeURIComponent(param[1].replace(/\+/g, " "));
        }

        return params;
    })(window.location.search.substr(1).split('&'))
})(jQuery);
// Display given events
if($.QueryString["discodate"] && $.QueryString["discoid"]){
    discoPlotClick({points:[
            {
            x:$.QueryString["discodate"],
            pointNumber:0,
            data:{
                z:[$.QueryString["discoid"]],
                }
            }
    ]});
}

function discoPlotClick(data){
        $("#disco_details_data").html('<span class="glyphicon glyphicon-refresh glyphicon-refresh-animate"></span> Loading...')
        $("#disco_details_title").html("");
        $("#disco_details_footer").html("");
        $("#disco_mon_title").html("");
        $("#disco_mon").html("");

        pt = data.points[0]
        date = JSON.stringify(pt.x).replace('"','').replace('"','');
        date = date.replace(" ", "+")
        date = date.replace(":", "%3A")

        // Update query string
        $.QueryString.discodate = pt.x;
        $.QueryString.discoid = pt.data.z[pt.pointNumber];
        history.replaceState({}, '', "?" + $.param($.QueryString)); 

        title = "<h3>Disconnected probes on "+pt.x+"</h3><br>";
        montitle = "";
        console.log(pt.data.z[pt.pointNumber]);
        url =  '{% url "ihr:discoProbesListView" %}?event='+pt.data.z[pt.pointNumber]+'&format=json&ordering=-level'; 
        $.getJSON(url, function(data){
                var body = '<table class="table"> <thead> <tr> <th> Disconnection time </th> <th> Reconnection time </th> <th> Probe ID </th> <th> IP prefix </th>  <th> Burst level </th> </tr></thead>'; //JSON.stringify(data.results, null, 2);
            body += '<tbody>';
            var prevLink = '';
        for( i=0; i<data.results.length; i++){
            var alarm = data.results[i];
            if(alarm.level>=15){
                body += '<tr class="danger">';
            }
            else if(alarm.level >= 12){
                body += '<tr class="warning">';
            }
            else{
                body += '<tr>';
            }
            body += '<td>'+alarm.starttime+'</td>';
            body += '<td>'+alarm.endtime+'</td>';
            body += '<td>'+alarm.probe_id+'</td>';
            body += '<td>'+alarm.prefixv4+'</td>';
            body += '<td>'+alarm.level+'</td>';
            body += '</tr>';

        }
        body += '</tbody>';
        body += '</table>';
        if (data.count == 0){
            txt = "No alarm reported."
        }
        else{
            txt = '';
            footer = "See the "+data.count+" reported alarms here: <a href='"+url.replace("format=json", "format=api")+"'>ihr.iijlab.net/"+url.replace("format=json", "format=api")+"</a>";
        }

        // Tracemon
        if( data.results.length!=0 ){
            var probeid = [];
            var startts = new Date(pt.x+' GMT'), endts = new Date('1970-01-01');
            //var startts = new Date('2999-12-31'), endts = new Date('1970-01-01');
            var ihrstart = new Date('2017-01-01');
            montitle = "<h3>Visualisation of traceroutes from disconnected probes</h3><br>";
            for(i=0; i<data.results.length; i++){
                probeid.push(data.results[i].probe_id);
                start = new Date(data.results[i].starttime);
                end = new Date(data.results[i].endtime);
                if( startts>start && start>ihrstart){
                    startts = start;
                }
                if( endts<end){
                    endts = end;
                }
            }
            initTracemon(
                '#disco_mon',
                {
                }, // Tool options, see table below for more info
                {
                measurements:[5030],
                sources: probeid,
                startTimestamp:  (startts.getTime()/1000)-3600,
                stopTimestamp: (endts.getTime()/1000)+3600,
                } 
            );
        
        }
        $("#disco_details_title").html(title);
        $("#disco_details_data").html(txt+body);
        $("#disco_details_footer").html(footer);
        $("#disco_mon_title").html(montitle);
        });

};


<!--Selector for "show last"-->
$('select[name="show-last"] option[value="{{ last }}"]').prop('selected', true);
$(function(){
            $("#show-last").change(function(){
                makeplot_disco('{{ date }}', this.value);
                    });
            });

</script>

<script src="/static/rest_framework/js/prettify-min.js"></script>

{% endblock %}
