{% extends "base.html" %}

{% block head %}
<script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
{% endblock %}


{% block body %}
<div class="row">
    <div class="col-12">
        <h1>Disconnection event #{{ disco_events.id }} ({{ disco_events.streamtype }} {{ disco_events.streamname }})</h1> 
    </div>
</div>

<div class="row">
    <div class="col-12">
        <h3><a href='{% url "ihr:discoProbesListView" %}?event={{ disco_events.id }}&format=api&ordering=-level'>{{ disco_events.nbdiscoprobes }} probes</a> disconnected between {{disco_events.starttime}} and {{disco_events.endtime}}</h3>
        <hr>
    </div>

    <div class="col-12">
        <div id="tracemon" ></div>
    </div>
</div>

<script src="https://atlas.ripe.net/resource/latencymon/latencymon-widget-main.js"></script>
<script src="https://atlas.ripe.net/resource/tracemon/tracemon-widget-main.js"></script>
<script>
    $("#disco_details_data").html('<span class="glyphicon glyphicon-refresh glyphicon-refresh-animate"></span> Loading...')

    var title = "<h3>Disconnected probes </h3><br>";
    var url =  '{% url "ihr:discoProbesListView" %}?event={{ disco_events.id }}&format=json&ordering=-level'; 
    var tracemon;

    $.getJSON(url, function(data){
        // TraceMON plot
        var probeid = [];
        var startts = new Date('2999-12-31'), endts = new Date('1970-01-01');
        var ihrstart = new Date('2017-01-01');

        for(i=0; i<data.results.length; i++){
            probeid.push(data.results[i].probe_id);
            start = new Date(data.results[i].starttime);
            end = new Date(data.results[i].endtime);
            if( startts>start && start>ihrstart){
                startts = start;
            }
            if( endts<end){
                endts = end;
            }
        }
        if(endts < startts){
            endts = startts;
        }
        console.log(startts);
        console.log(endts);
        tracemon = initTracemon(
            '#tracemon',
            {}, // Tool options
            {
                measurements:[5030],
                sources: probeid,
                startTimestamp:  (startts.getTime()/1000)-3600,
                stopTimestamp: (endts.getTime()/1000)+3600,
            } // Query options
            );

    });
</script>
<script src="/static/rest_framework/js/prettify-min.js"></script>

{% endblock %}
