{% extends "base.html" %}

{% block head %}
<script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
{% endblock %}

{% block errorMessage %}{% endblock %}

{% block body %}
<div class="row">
    
    <div class="col-lg-12">
    <h2>Top tier 1 networks</h2>
        <div id="plotCongestionTier1"></div>
        <div id="plotForwardingTier1"></div>
    </div>
    <div class="col-lg-12">
    <h2>Networks hosting DNS root servers</h2>
        <div id="plotCongestionRoot"></div>
        <div id="plotForwardingRoot"></div>
    </div>
    <h2><a href="{% url "ihr:asnList" %}">Other ASes</a></h2> 
    <div class="col-md-3">
        <ul>
        {% for asn in monitoredAsn0 %}
        <li><a href="{% url "ihr:asnDetail" asn.number %}">AS{{ asn.number }} {{ asn.name }}</a></li>
        {% endfor %}
        </ul>
    </div>
    <div class="col-md-3">
        <ul>
        {% for asn in monitoredAsn1 %}
        <li><a href="{% url "ihr:asnDetail" asn.number %}">AS{{ asn.number }} {{ asn.name }}</a></li>
        {% endfor %}
        </ul>
    </div>
    <div class="col-md-3">
        <ul>
        {% for asn in monitoredAsn2 %}
        <li><a href="{% url "ihr:asnDetail" asn.number %}">AS{{ asn.number }} {{ asn.name }}</a></li>
        {% endfor %}
        </ul>
    </div>
    <div class="col-md-3">
        <ul>
        {% for asn in monitoredAsn3 %}
        <li><a href="{% url "ihr:asnDetail" asn.number %}">AS{{ asn.number }} {{ asn.name }}</a></li>
        {% endfor %}
        and <a href="{% url "ihr:asnList" %}" >{{ nbMonitoredAsn }} more...</a>
        </ul>
    </div>
</div>
<script>
    function makeplot() {
        var layout = {
            yaxis: {
                title: 'Congestion Level',
            }
        };
        Plotly.newPlot("plotCongestionTier1", [], layout);
        {% for asn in topTier1 %}
        Plotly.d3.json("{% url "ihr:congestionData" %}?asn={{ asn.number }}", function(data){ addPlotly(data, "plotCongestionTier1", "AS{{ asn.number }}") } );
        {% endfor %}
        Plotly.newPlot("plotCongestionRoot", [], layout);
        {% for asn in rootServers %}
        Plotly.d3.json("{% url "ihr:congestionData" %}?asn={{ asn.number }}", function(data){ addPlotly(data, "plotCongestionRoot", "AS{{ asn.number }}") } );
        {% endfor %}
    };

    function addPlotly( data, divId, label ){
        var plotDiv = document.getElementById(divId);
        var traces = [{
            x: data["x"],
            y: data["y"],
            name: label,
        }];

        Plotly.addTraces(divId, traces);
    };
    makeplot();
</script>
{% endblock %}
