

/* ==========================================================================
   Author's custom styles
   ========================================================================== */
/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}
body {
  /* Margin bottom by footer height */
  margin-bottom: 120px;
}
.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    /* Set the fixed height of the footer here */
    height: 60px;
    background-color: #333333;
    padding-top: 25px;
    padding-bottom: 15px;
    padding-left: 150px;
    padding-right: 150px;
    color: #ffffff;
}

.footer a {
    color: #dddddd;
}















