name: ihr-django

services:
  web:
    build:
      context: ./
      dockerfile: Dockerfile
    command: gunicorn ihr.config.wsgi:application --bind 0.0.0.0:8000
    restart: unless-stopped
    ports:
      - 8000:8000
    env_file:
      - ./.env
